/* ====== CONTENT ====== */

.content {    
 	padding: 0;
  margin: 0;
  width: 100%;
  background: url("/images/content_main.jpg") no-repeat;
}
.logo {
  width: 10em;
  height: auto;
  float: left;
  margin: 2em;
}

/* ====== CONTENT - First Section ====== */

.content_first { 
  height: 55em;
  color: white;
  position: relative;
}
.content_first h1 { 
  position: absolute;
  right: 20%;
  top: 4%;
}
.content_first h2 { 
  position: absolute;
  right: 25%;
  top: 11%;
}


/* ====== CONTENT - Second Section ====== */

.content_second { 
  color: $darkGrey;
  position: relative;
  margin: 5em 2em;
  line-height: 2;
  text-align: left;
  overflow: hidden;
}
.content_second_l { float: left; width: 50%; } 
.content_second_r { float: left; width: 40%; padding-left: 2em; }
.content_second_header { font-size: 200%; } 