/* ====== FOOTER ====== */

.footer_main_container { 
  width: 100%; 
  margin: 0; 
  padding: 5em;
  overflow: hidden; 
  position: relative; 
  background-color: black; 
 }
.footer_main_container a:hover { color: white; }

.footer_main_box { 
  width: 25%; 
  float: left; 
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 2em;
}
.footer_header {
	font-size: 110%;
	padding-bottom: 1em;
}
.footer_text {
	text-align: left;
	max-width: 13.5em;
	min-height: 12em;
	font-size: 80%;
}
a.footer_main_box { text-decoration: none; font-weight: bold; cursor: pointer; }
a.footer_main_box:active {  text-decoration: none; } 
a.footer_main_box:link {  text-decoration: none; }
a.footer_main_box:visited {  text-decoration: none; }
a.footer_main_box:hover { text-decoration: none; }
