
/* == RESPONSIVE WEB DESIGN == */

/* Large Screen Desktop */
@media (min-width: 1290px) {
  .content { background: url("/images/content_main.jpg") no-repeat; }
}

/* Laptop */
@media (max-width: 1280px) and (min-width: 510px) {
  .content { background: url("/images/content_main_med.jpg") no-repeat; }
  .content_first h1 { text-align: left; right: 40%; font-size: 320%; top: 10%; }
  .content_first h2 { text-align: left; right: 39%; top: 18%; font-size: 145%; }
}

/* Android Phone */
@media (max-width: 500px) and (min-width: 251px) { 
  .nav_box { padding: 1em; }
  .container_left { width: 10%; }
  .container_right { width: 84%; margin-left: 5%; }
  .content_first h1 { text-align: right; right: 15%; font-size: 280%; top: 15%; }
  .content_first h2 { text-align: right; right: 25%; top: 25%; font-size: 165%; line-height: 1.5; }
  .logo { width: 60%; margin: 2em 3em; }
  .container_right { margin-left: 10%; width: 90%; }
  .content { background: url("/images/content_main_smallest.jpg") no-repeat; }
  .footer_main_container { display: inline-block; overflow: visible; padding: 0.5em; }
  .footer_main_box { float: none; width: 80%; padding: 0.5em 0; line-height: 1.5em; }
  .content_second_l img { width: 100%; }
  .content_second_l { float: none; width: 90%; }
  .content_second_r { float: none; width: 90%; }
  .content_second { margin: 2em 1.5em; display: inline-block; }
}

@media (max-width: 250px) {
  .nav_box { padding: 1em; }
  .container_left { width: 10%; }
  .container_right { width: 84%; margin-left: 5%; }
  .content_first h1 { text-align: left; right: 6%; font-size: 240%; top: 45%; }
  .content_first h2 { text-align: left; right: 6%; top: 55%; font-size: 125%; }
  .logo { width: 60%; margin: 2em 3em; }
  .container_right { margin-left: 10%; width: 90%; }
  .content { background: url("/images/content_main_smallest.jpg") no-repeat; }
  .footer_main_container { display: inline-block; overflow: visible; padding: 0.5em; }
  .footer_main_box { float: none; width: 80%; padding: 0.5em 0; line-height: 1.5em; }
  .content_second_l img { width: 100%; }
  .content_second_l { float: none; width: 90%; }
  .content_second_r { float: none; width: 90%; }
  .content_second { margin: 2em 1.5em; display: inline-block; }
}